@media (max-width: 500px){
    body {
        background-color: purple;
    }
}
@media (min-width: 501px) and (max-width: 800px){
    body {
        background-color: pink;
    }
}

@media (min-width: 801px){
    body {
        background-color: aqua;
    }
}