.a{background-color: red;
width: 100%;
height: 30%;}

.b{background-color: blue;
width: 100%;
height: 30%;}

.c{background-color: yellow;
width: 50%;
height: 30%;
float: left;}

.c1{background-color: red;
width: 100%;
height: 30%;}

.c2{background-color: blueviolet;
width: 100%;
height: 30%;}

.d{background-color: gray;
width: 50%;
height: auto;
float: right;}

.e{background-color: bisque;
width: 100%;
height: 30%;}
