.a{background-color: red;
width: 100%;
height: 50px;
text-align: center;
border-style:outset ;
padding: 0px;}


.b{background-color: blue;
width: 100%;
height: 50px;
text-align: center;
border-style: outset;
padding: 0px;}


.c{background-color: yellow;
width: 50%;
height: 30px;;
text-align: center;
border-style: outset;
padding: 0px;}


.c1{background-color: red;
width: 50%;
height: 30px;
text-align: center;
border-style:outset ;
padding: 0px;}


.c2{background-color: blueviolet;
width: 50%;
height: 80px;
display: flex;
justify-content: center;
text-align: center;
border-style: outset;
padding: 0px;}


.d{background-color: gray;
width: 50%;
height: 80px;
float:right;
border-style: outset;
padding: 0px;}


.e{background-color: bisque;
width: 100%;
height: 50px;
text-align: center;
border-style: outset;
padding: 0px;}

