.a{background-color: black;
width: 100%;
height: 30px;
position: static;
top: 0;
text-align: center;
color: aliceblue;
align-items: center;}


.b{background-color: brown;
width: 100%;
height: 70px;
display: flex;
align-items: center;
justify-content: center;
position: fixed;
cursor: pointer;
position: sticky;
top: 0;
color: white;}

/* .b1{width: 10%;
height: 70px;
display: inline;} */

.b2{width: 10%;
display: inline;}

.b3{width: 10%;
display: inline;}

.b4{width: 10%;
display: inline;}

.b5{width: 10%;
display: inline;}

.b6{width: 10%;
font-size: large;
display: inline;}

.b6{width: 10%;
display: inline;}

.b7{width: 10%;
display: inline;}

.b8{width: 10%;
display: inline;}


.c{width: 100%;
height: 600px;
background-image: url(https://img.freepik.com/free-vector/pop-art-girl-holding-shopping-bags_88138-217.jpg?semt=ais_hybrid&w=740&q=80);
background-repeat: no-repeat;
background-size: 100% 600px;
}

.d{background-color: black;
width: 100%;
height: 80px;}


.d:hover{background-color: red;
    width: 100%;
width: 100%;
height: 80px;}

.b10{width: 10px;}

.c1{background-color: blanchedalmond;
    position: fixed;
    display: flex;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 2px 10px black;
}
.c1{background-color: blanchedalmond;
    position: fixed;
    display: flex;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 2px 10px black;
}
.c1 :hover{background-color: palevioletred;
    position: fixed;
    display: flex;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 2px 10px black}

    @media (max-width:400px)
    { 
        body{background-color: ;}
        .c{ background-size: 400px;}
}
    

@media (min-width:401) and(max-width:900px)
{
    body{background-color: crimson;}

}

@media(min-width:901)
{ 
    body{background-color: darkgreen;}
}